/* DEFAULT VALUES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

/* END OF DEFAULT VALUES */
.header .logo h1{
    font-size:3em;
    padding:1%;
    display: inline-block;
    cursor: pointer;    
}
.header .logo h1 span{
    color:green;
    padding-left:0%;
}
.header .logo p{
    /* padding-left:74%; */
    text-align: center;
}
.header .logo h1:hover{
    color:green;
}
.menu{
    background: #5f5f5f;
}
.menu li{
    display: inline-block;
}
.menu li:nth-child(11){
    padding-left:21%;
    /* margin-left:20%; */
}
.menu li:nth-child(11) select{
    background: #5f5f5f;
    border:1px solid #5f5f5f;
    outline: none;
    color:white;
    font-size:16px;
}
.menu li:nth-child(12) select{
    background: #5f5f5f;
    border:1px solid #5f5f5f;
    outline: none;
    color:white;  
    font-size:16px;      
}
.menu li{
    color:white;
    padding:1%;
}
.menu li:nth-child(3){
    background: green;
    border:2px solid green
}
.menu li:hover{
   cursor: pointer;
}
.main{
    width:27%; 
    overflow: scroll; 
    width: 25%;
    height: 600px;  
}
.main .left p{
    padding:4%;
    padding-left:3%; 
    color:#555;    
}
.main .left h1{
    padding-left:3%;  
    color:#555;
}
.main .left{
    background: #eee;
}
.main .left p:hover{
    cursor: pointer; 
}
.main{
    float: left;
}
.main2{
    float: left;
    width: 75%;
}
.clearFix{
    clear: both;
}
.main2 h1{
    font-size: 2em;
}
.main2 h1:nth-child(1){
    padding-top:4%;
    padding-left:4%; 
    padding-bottom:2%; 
}
.main2 .right button {
    padding: 1%;
    width: 11%;
    background: white;
    outline: none;
    border: 1px solid #ccc;
    margin-left:4%;
}
.main2 .right button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.main2 h1:nth-child(3){
    padding-top:10%;
    padding-left:4%;
}
.main2 .right p{
    font-size: 2em;
    padding-left: 4%;
    padding-top: 4%;
    color:green;
}
.menu{
    position: relative;
}
.birinci{
    /* padding-left:1%;; */
    color:white;
    cursor: pointer;
    display: none;
    position: absolute;
}
