<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        <div class="threeLayout">
            <div class="main">
                <img src="images/main.jpg" alt="Girl">
                <div class="layout layoutTop">
                    <i class="fas fa-search"></i>
                </div>
                <div class="layout layoutBottom">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="main">
                <img src="images/main.jpg" alt="Girl">
                <div class="layout layoutTop">
                    <i class="fas fa-search"></i>
                </div>
                <div class="layout layoutBottom">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="main">
                <img src="images/main.jpg" alt="Girl">
                <div class="layout layoutTop">
                    <i class="fas fa-search"></i>
                </div>
                <div class="layout layoutBottom">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="wrapper">
            <div class="outer">
                <img src="images/06.jpg" alt="VAZ 2106 Efsane">
                <div class="layout">
                    <h2>Retro Cars in Baku</h2>
                </div>
            </div>
        </div>
    </div>


</body>

</html>